name: Generate test programs

on:
  workflow_dispatch:

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-15-intel, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up MSVC (Windows)
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Download cJSON files
        working-directory: programs/hello_world
        run: |
          mkdir cJSON
          curl -sSL https://raw.githubusercontent.com/DaveGamble/cJSON/master/cJSON.c -o cJSON/cJSON.c
          curl -sSL https://raw.githubusercontent.com/DaveGamble/cJSON/master/cJSON.h -o cJSON/cJSON.h
        shell: bash

      - name: Build program
        if: runner.os != 'Linux'
        working-directory: programs/hello_world
        run: |
          gcc hello_world.c cJSON/cJSON.c -I cJSON -o hello_world
        shell: bash

      - name: Build program (Rocky Linux 8)
        if: runner.os == 'Linux'
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/hpcflow/rockylinux8-python:latest
          options: -v ${{ github.workspace }}:/home --env GH_TOKEN=${{ secrets.GITHUB_TOKEN }}
          run: |
            cd /home/programs/hello_world
            gcc hello_world.c cJSON/cJSON.c -I cJSON -o hello_world

      - name: Take ownership of generated executable (linux - Rocky Linux 8)
        working-directory: programs/hello_world
        if: runner.os == 'Linux'
        run: |
          sudo chown $USER:$USER hello_world
          chmod +r hello_world

      - name: Test program
        working-directory: programs/hello_world
        run: |
          echo '{ "p1": 10, "p2": 20, "p3": 30 }' > input.json
          ./hello_world input.json output.json
          cat output.json
        shell: bash

      - name: Upload `hello_world` artifact
        uses: actions/upload-artifact@v5
        with:
          name: hello_world_${{ runner.os }}_${{ runner.arch }}${{ runner.os == 'Windows' && '.exe' || '' }}
          path: programs/hello_world/hello_world${{ runner.os == 'Windows' && '.exe' || '' }}
